<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   					   http://www.springframework.org/schema/util
	   					   http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- Initialize & configure log4j as specified by the JVM argument chacha.environment -->
	<bean id="log4jInitialization" class="com.chacha.profiling.log4j.LogManager">
		<property name="configFile" value="${chacha.config.dir}/log4j.properties"/>
	</bean>

	<!-- Application Statistics -->
	<bean id="appStats" class="com.chacha.profiling.AppStats" factory-method="getInstance">
		<property name="trackingExceptions" value="true" />
		<property name="trackingPerformance" value="true" />
		<property name="trackingSessions" value="false"/>
		<property name="trackingCounters" value="true"/>
	</bean>

	<util:properties id="configProps" location="file://${chacha.config.dir}/application.properties"/>

	<context:property-placeholder properties-ref="configProps"/>

	<import resource="chacha-web-administration-data-rw.xml"/>
	<import resource="chacha-web-administration-data-ro.xml"/>
	<import resource="chacha-web-administration-data-gqc.xml"/>
	<import resource="chacha-web-administration-solr.xml"/>  
	<import resource="chacha-web-administration-messaging.xml"/>
	<import resource="chacha-web-administration-service.xml"/>
	<import resource="chacha-web-administration.xml"/>
	<import resource="chacha-web-administration-web.xml"/>
	<import resource="chacha-web-administration-web-security.xml"/>
	<import resource="chacha-web-administration-web-vetting.xml"/>
	<import resource="classpath*:answers-zookeeper.xml"/>

</beans>